body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%
}

.header {
  display: grid;
  place-items: center;
  background-color: lightblue;
}

Form {
  padding: 20px;
}

Form > button {
  margin: 20px;
}

.card > img {
  height: 300px;
  width: 300px;
}
